body{
  background-color: #DFDFDF;
}

.header{
  padding: 15px 0 10px 0;
  background: #ffffff;
}

.header input[type=text]{
  border-radius: 0;
  padding-right: 20px;
}

.search_form .glyphicon-search{
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translate(0, -50%);
  color: #cecece;
}

.site_logo{
  font-size: 22px;
  line-height: 34px;
  color: #00A0C6;
  font-weight: 100;
}

.site_logo img{
  max-height: 34px;

}
.profile_wrapper{
  border: 1px solid #cecece;
  line-height: 34px;
}

.profile_wrapper button{
  float: left;
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 18px;
  text-align: center;
  color: #cecece;
  border: 0 none;
  background: #ffffff;
  border-right: 1px solid #cecece;
}
.profile_wrapper button:hover{
  color: #ffffff;
  background: #00A0C6;
}

.user{
  padding-left: 15px;
  color: #cecece;
}

.item{
  background-color: #ffffff;
  margin-top: 30px;

}
.image_container{
  position: relative;
}
.image_container > img{
  width: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.image_container:hover .overlay{
  display: block;
}

.info_container{
  padding: 15px;
}

.author_info{
  margin-bottom: 15px;
}

.author_avatar{
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.btn-primary{
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ffffff;
  color: #000000;
  border: 0 none;
  cursor: pointer;
}

.img_statistics_container{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
}

.right{
  float: right;
  margin: 10px 0 0 0;
  display: inline-block;
}

.modal-img{
  width: 100%;
}

.modal-button{
  color: #ffffff;
  background: #cecece;
  margin: 10px 0 0 0;
  width: 34px;
  height: 34px;
  border: 0 none;

}

.modal-dialog{
  width: 40%;
  min-width: 368px;
  margin-top: 10px;
  border-radius: 10px;
}

.author_info_avatar img{
  width: 30%;
  height: 30%;
}
